#### Rachana A gai
#### Assignment 4
#### 12/18/2024

#### Part 1

In [37]:
import pandas as pd

# Loading the data into a DataFrame
data = pd.read_csv('WHO_first9cols.csv')

# Query the number of rows
num_rows = data.shape[0]
print(f"Number of rows: {num_rows}")

# Print the column headers
column_headers = data.columns
print("Column headers:")
print(column_headers)

# Print the data types of each column
data_types = data.dtypes
print("Data types:")
print(data_types)

# Printing the index
index = data.index
print("Index:")
print(index)

Number of rows: 202
Column headers:
Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')
Data types:
Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object
Index:
RangeIndex(start=0, stop=202, step=1)

### part 2

In [38]:
import pandas as pd

# Loading the data into a DataFrame
data = pd.read_csv('WHO_first9cols.csv')

# Selecting the "Country" column
country_column = data['Country']

# Return the data type
data_type = country_column.dtype
print(f"Data type of 'Country' column: {data_type}")

# Return the series shape
shape = country_column.shape
print(f"Shape of 'Country' series: {shape}")

# Return the index
index = country_column.index
print("Index:")
print(index)

# Return the values
values = country_column.values
print("Values:")
print(values)

# Return the name of the column
name = country_column.name
print(f"Name of the column: {name}")

Data type of 'Country' column: object
Shape of 'Country' series: (202,)
Index:
RangeIndex(start=0, stop=202, step=1)
Values:
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']
Name of the column: Country

### part 3

In [32]:
pip install quandl

Requirement already satisfied: quandl in c:\users\pyaku\anaconda4\lib\site-packages (3.7.0)
Requirement already satisfied: pandas>=0.14 in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (2.2.2)
Requirement already satisfied: numpy>=1.8 in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (1.26.4)
Requirement already satisfied: requests>=2.7.0 in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (2.32.2)
Requirement already satisfied: inflection>=0.3.1 in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (2.9.0.post0)
Requirement already satisfied: six in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in c:\users\pyaku\anaconda4\lib\site-packages (from quandl) (10.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pyaku\anaconda4\lib\site-packages (from pandas>=0.14->quandl) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pyaku\anaconda4\lib\site-packages (from pandas>=0.14->quandl) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pyaku\anaconda4\lib\site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pyaku\anaconda4\lib\site-packages (from requests>=2.7.0->quandl) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pyaku\anaconda4\lib\site-packages (from requests>=2.7.0->quandl) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pyaku\anaconda4\lib\site-packages (from requests>=2.7.0->quandl) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [48]:
import quandl
import pandas as pd

# Set your Quandl API key
quandl.ApiConfig.api_key = 'YOUR_ACTUAL_API_KEY'

# Define the dataset code
dataset_code = "WDC/SUNSPOTS"  

try:
    # Import data from Quandl
    data = quandl.get(dataset_code)

    # Display the head and tail of the dataset
    print("Head of the dataset:")
    print(data.head())

    print("\nTail of the dataset:")
    print(data.tail())

    # Query for the last value using the last date
    last_date = data.index[-1]
    last_value = data.loc[last_date]
    print(f"\nLast value (date: {last_date}):")
    print(last_value)

    # Query the dataset with date strings in the YYYYMMDD format
    specific_date = "20221201"  # Replace with a valid date in the dataset
    specific_date_formatted = pd.to_datetime(specific_date, format='%Y%m%d')
    if specific_date_formatted in data.index:
        print(f"\nData on {specific_date_formatted.date()}:")
        print(data.loc[specific_date_formatted])
    else:
        print(f"\nNo data available for {specific_date_formatted.date()}.")

    # Query with a Boolean where the number of observations is greater than the mean
    observation_counts = data.groupby(data.index.date).size()  # Count observations per date
    mean_observations = observation_counts.mean()
    above_mean_obs_dates = observation_counts[observation_counts > mean_observations].index
    print("\nDates with more observations than the mean:")
    print(above_mean_obs_dates)

    # Query with a Boolean where the number of sunspots is greater than the mean
    mean_sunspots = data['Sunspots'].mean()
    above_mean_sunspots = data[data['Sunspots'] > mean_sunspots]
    print("\nRows where the number of sunspots is greater than the mean:")
    print(above_mean_sunspots)

except quandl.errors.quandl_error.QuandlError as e:
    print(f"Quandl Error: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

Quandl Error: (Status 403) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@quandl.com.

### Part 4

In [49]:
import quandl
import pandas as pd
from scipy import stats

# Set your Quandl API key
quandl.ApiConfig.api_key = 'YOUR_ACTUAL_API_KEY'

# Define the dataset code
dataset_code = "WDC/SUNSPOTS"  # Replace with the correct dataset code

try:
    # Import data from Quandl
    data = quandl.get(dataset_code)

    # Filter out rows where 'Sunspots' is NaN
    filtered_data = data.dropna(subset=['Sunspots'])

    # Descriptive statistics
    print("Descriptive Statistics:")
    print(filtered_data.describe())

    # Count of observations
    count = filtered_data.count()
    print(f"\nCount of observations: {count}")

    # Mean
    mean = filtered_data['Sunspots'].mean()
    print(f"\nMean: {mean}")

    # Median
    median = filtered_data['Sunspots'].median()
    print(f"\nMedian: {median}")

    # Max
    max_value = filtered_data['Sunspots'].max()
    print(f"\nMax: {max_value}")

    # Min
    min_value = filtered_data['Sunspots'].min()
    print(f"\nMin: {min_value}")

    # Mode
    mode = filtered_data['Sunspots'].mode()
    print(f"\nMode: {mode}")

    # Standard Deviation
    std_dev = filtered_data['Sunspots'].std()
    print(f"\nStandard Deviation: {std_dev}")

    # Variance
    variance = filtered_data['Sunspots'].var()
    print(f"\nVariance: {variance}")

    # Skewness
    skewness = stats.skew(filtered_data['Sunspots'])
    print(f"\nSkewness: {skewness}")

except quandl.errors.quandl_error.QuandlError as e:
    print(f"Quandl Error: {e}")

except Exception as e:
    print(f"An unexpected error occurred: {e}")

Quandl Error: (Status 403) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@quandl.com.

### part 5

In [41]:
import numpy as np
import pandas as pd

# Step 1: Create a DataFrame
np.random.seed(42)  # Ensure reproducibility
data = pd.DataFrame({
    'Weather': np.random.choice(['Hot', 'Cold'], size=20),
    'Food Price': np.random.uniform(10, 50, size=20),
    'Number': np.random.randint(1, 100, size=20)
})

# Step 2: Group by the Weather column
weather_group = data.groupby('Weather')

# Step 3: Function to iterate through the groups and perform operations
print("First row for each Weather group:")
print(weather_group.first())

print("\nLast row for each Weather group:")
print(weather_group.last())

print("\nMean for each Weather group:")
print(weather_group.mean())

# Step 4: Create another group (Weather and Food Price)
weather_food_group = data.groupby(['Weather', 'Food Price'])

# Step 5: Use the `agg()` function to find the mean and median of Number and Food Price
agg_results = weather_food_group.agg({
    'Number': ['mean', 'median'],
    'Food Price': ['mean', 'median']
})

# Print the results of the aggregation
print("\nAggregated statistics for Weather and Food Price groups:")
print(agg_results)

First row for each Weather group:
         Food Price  Number
Weather
Cold      48.796394       7
Hot       10.823380      51

Last row for each Weather group:
         Food Price  Number
Weather
Cold      33.696583      44
Hot       11.858017       8

Mean for each Weather group:
         Food Price     Number
Weather
Cold      28.325350  42.571429
Hot       24.614199  45.461538

Aggregated statistics for Weather and Food Price groups:
                   Number        Food Price
                     mean median       mean     median
Weather Food Price
Cold    17.336180    18.0   18.0  17.336180  17.336180
        17.986951    60.0   60.0  17.986951  17.986951
        21.649166    14.0   14.0  21.649166  21.649166
        28.242799    84.0   84.0  28.242799  28.242799
        30.569378    71.0   71.0  30.569378  30.569378
        33.696583    44.0   44.0  33.696583  33.696583
        48.796394     7.0    7.0  48.796394  48.796394
Hot     10.823380    51.0   51.0  10.823380  10.823380
        11.858017     8.0    8.0  11.858017  11.858017
        15.579754    90.0   90.0  15.579754  15.579754
        17.272999    39.0   39.0  17.272999  17.272999
        18.493564    73.0   73.0  18.493564  18.493564
        21.685786    53.0   53.0  21.685786  21.685786
        22.169690     4.0    4.0  22.169690  22.169690
        24.654474     2.0    2.0  24.654474  24.654474
        27.277801    60.0   60.0  27.277801  27.277801
        30.990257    89.0   89.0  30.990257  30.990257
        34.474116     9.0    9.0  34.474116  34.474116
        41.407038    92.0   92.0  41.407038  41.407038
        43.297706    21.0   21.0  43.297706  43.297706

### part 6

In [45]:
import pandas as pd
import numpy as np

# Step 1: Create a sample DataFrame
data = pd.DataFrame({
    "Weather": np.random.choice(["Hot", "Cold"], size=10),
    "Food Price": np.random.uniform(1, 20, size=10),
    "Number": np.random.randint(1, 100, size=10)
})

# Step 2: Select the first 3 rows
first_3_rows = data.iloc[:3]

# Step 3: Select the last 2 rows of the original DataFrame
last_2_rows = data.iloc[-2:]

# Step 4: Append the selected rows (first 3 + last 2) together using concat
appended_df = pd.concat([first_3_rows, last_2_rows], ignore_index=True)

# Print results
print("Original DataFrame:")
print(data)
print("\nDataFrame after appending first 3 rows and last 2 rows:")
print(appended_df)

Original DataFrame:
  Weather  Food Price  Number
0     Hot   10.881292      87
1     Hot   11.387495      62
2    Cold    4.512235      40
3     Hot   19.422108      85
4    Cold   15.727524      80
5    Cold   18.850480      82
6    Cold   18.001720      53
7    Cold   12.360100      24
8    Cold   18.515610      26
9    Cold    2.681358      89

DataFrame after appending first 3 rows and last 2 rows:
  Weather  Food Price  Number
0     Hot   10.881292      87
1     Hot   11.387495      62
2    Cold    4.512235      40
3    Cold   18.515610      26
4    Cold    2.681358      89

### part 7

In [43]:
import pandas as pd

# Load the CSV files into DataFrames
dest = pd.read_csv("dest.csv")
tips = pd.read_csv("tips.csv")

# Step 1: Use merge() to bring the datasets together on the "EmpNr" column
merged_df = pd.merge(dest, tips, on="EmpNr")
print("Result of merge() on 'EmpNr':")
print(merged_df)

# Step 2: Use join() to query both files and print the results
# Ensure both DataFrames have the same index or set 'EmpNr' as the index for a meaningful join
dest_indexed = dest.set_index("EmpNr")
tips_indexed = tips.set_index("EmpNr")

# Perform the join
joined_df = dest_indexed.join(tips_indexed, how="inner")  # Inner join by default
print("\nResult of join() using 'EmpNr' as the index:")
print(joined_df)

Result of merge() on 'EmpNr':
   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

Result of join() using 'EmpNr' as the index:
            Dest  Amount
EmpNr
5      The Hague    10.0
9      Rotterdam     5.0

### Part 8

In [44]:
import pandas as pd

# Load the WHO_first9cols.csv file
file_path = "WHO_first9cols.csv"
df = pd.read_csv(file_path)

# Step 1: Select the first 3 rows for the columns "Country" and "Net primary school enrolment ratio male (%)"
selected_columns = df[["Country", "Net primary school enrolment ratio male (%)"]].head(3)
print("First 3 rows (Country and Net primary school enrolment ratio male (%)):")
print(selected_columns)

# Step 2: Check for missing values
print("\nMissing values in the selected columns:")
print(selected_columns.isnull())

# Step 3: Count the number of NaN values
nan_count = selected_columns.isnull().sum()
print("\nCount of NaN values in each column:")
print(nan_count)

# Step 4: Print any non-missing values
non_missing = selected_columns.dropna()
print("\nNon-missing values:")
print(non_missing)

# Step 5: Replace missing values with a scalar value (e.g., 0 or a specified value)
filled_columns = selected_columns.fillna(0)
print("\nColumns after replacing missing values with 0:")
print(filled_columns)

First 3 rows (Country and Net primary school enrolment ratio male (%)):
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
2      Algeria                                         96.0

Missing values in the selected columns:
   Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
2    False                                        False

Count of NaN values in each column:
Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64

Non-missing values:
   Country  Net primary school enrolment ratio male (%)
1  Albania                                         94.0
2  Algeria                                         96.0

Columns after replacing missing values with 0:
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0
2      Algeria                                         96.0